@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 0 0% 9%;
  }

  body {
    @apply bg-background text-foreground antialiased font-sans;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Ocultar barra de scroll en contenedores horizontales */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
